In [58]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

In [60]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E","B23025_004E","B01002_001E",
                          "B19301_001E","B15003_022E","B08136_003E","B08136_007E",
                          "B17001_002E","B23025_005E","B23025_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "B15003_022E": "Bachelors Degree",
                                      "B08136_003E": "Commute Time by Auto in Min",
                                      "B08136_007E": "Commute Time by Public Transp in Min",
                                      "B23025_002E": "Employable People in the Labor Force",
                                      "NAME":"Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

# Add in Employment Rate (Employment Count / Population)
census_pd["Unemployment Rate"] = 100 * \
    census_pd["Unemployment Count"].astype(
        int) / census_pd["Population"].astype(int)



# Final DataFrame
census2017_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income","Poverty Count", "Poverty Rate","Unemployment Rate",
                       "Bachelors Degree","Commute Time by Auto in Min","Commute Time by Public Transp in Min","Employable People in the Labor Force"]]

In [65]:
# Visualize
print(len(census2017_pd))
census2017_pd.head()

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate,Bachelors Degree,Commute Time by Auto in Min,Commute Time by Public Transp in Min,Employable People in the Labor Force
0,00601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915,13.943974,1787.0,NaN,NaN,5953.0
1,00602,39209.0,40.9,16190.0,8978.0,20428.0,52.100283,6.473004,3694.0,NaN,NaN,14390.0
2,00603,50135.0,40.4,16645.0,10897.0,25176.0,50.216416,7.156677,5858.0,NaN,NaN,16044.0
3,00606,6304.0,42.8,13387.0,5960.0,4092.0,64.911168,3.236041,321.0,NaN,NaN,1707.0
4,00610,27590.0,41.4,18741.0,9266.0,12553.0,45.498369,5.342515,2268.0,NaN,NaN,10048.0

In [66]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census2017_pd.to_csv("census_data_2017.csv", encoding="utf-8", index=False)